@model LoginFormObject
@{ 
    ViewData["Title"] = "Sign In";
}

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <h3>Sign in.</h3>
    <div asp-validation-summary="All"></div>
    <ol class="list-unstyled">
        <li>
            <label asp-for="EmailOrUserName"></label>
            <input class="form-control" asp-for="EmailOrUserName" />
            <span asp-validation-for="EmailOrUserName"></span>
        </li>
        <li>
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </li>
        <li>
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </li>
        <li>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </li>
    </ol>
</form>