@using Microsoft.AspNetCore.Identity
@using SlogWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User)) {
    <li>
        <form asp-controller="Accounts" asp-action="LogOff" method="post">
            <button type="submit">Sign Out</button>
        </form>
    </li>

} else {
    <li><a asp-controller="Accounts" asp-action="Register">Register</a></li>
    <li><a asp-controller="Accounts" asp-action="Login">Sign In</a></li>
}