@using Microsoft.AspNetCore.Identity
@using SlogWeb.Models

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User)) {
    <li>
        <a asp-controller="Account" asp-action="LogOff" data-delete data-return-url="@Url.Action("Index", "Home")">Sign Out</a>
    </li>
} else {
    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
}