@model RegisterFormObject

<div asp-validation-summary="All"></div>
<ol>
    <li>
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </li>
    <li>
        <label asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </li>
    <li>
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </li>
    <li>
        <label asp-for="ConfirmPassword"></label>
        <input class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </li>
</ol>