@model AdminEditUserFormObject

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <h4>User</h4>
    <div asp-validation-summary="All"></div>
    <ol>
        <li>
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </li>
        <li>
            <label asp-for="UserName"></label>
            <input class="form-control" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </li>
    </ol>
    <input class="btn btn-primary" type="submit" value="Update" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>